<body>
  <%= render "partials/user_container", user: @users_find %>
        <article>
            <h3>Bio</h3>
            <p><%= @users_find.bio %></p>
        </article>

        <article>
            <h3>Post Title: <%= @post.title %></h3>
            <p><%= @post.text %></p>
            <div class="block">
                <p>Comments: <%= @post.comments_counter %></p>
                <p>Likes: <%= @post.likes_counter %></p>
            </div>
        </article>
        <%= link_to "/users/#{@users_find.id}/posts" do %>
    <button>See all posts</button>
    <% end %>
</body>