<body>
    <%= render "partials/user_container", user: @users %>
    <% @posts.each do |post| %>
    <h3>Post Title: <%= @posts.title %></h3>
    <p><%= @posts.text %></p>
    <div class="block">
        <p>Comments: <%= @posts.comments_counter %></p>
        <p>Likes: <%= @posts.likes_counter %></p>
    </div>
    <% end %>
    <button>Pagination</button>
</body>