<h1>Here is a specific post</h1>
<body>
    <article>
    <div class="block-post">
        <div class="post-heading">
            <h3><%= @post.title %> by <%= @user.name %></h3>
            <div class="post-comments">
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
            </div>
        </div>
        <p><%= @post.text %></p>
    </div>
        
    </article>

    <article class="comments-box">
    <% comments = Comment.where(post_id: @post.id) %>
    <% comments.each do |comment| %>
        <% user = User.find_by(id: comment.author_id).name %>
        <p><strong><%= user %>: <%= comment.text %></strong></p>
        <% end %>
    </article>

    <div class="btn">
    <%= link_to new_user_post_comment_path(post_id: params[:id]) do%>
        <button>Add comments</button>
     <% end %>
    <%= link_to new_user_post_like_path(post_id: params[:id]) do%>
        <button>Like</button>
     <% end %>
    </div>
</body>