<body>
    <article>
    <div class="block-post">
        <div class="post-heading">
            <h3><%= @post.title %> by <%= @user.name %></h3>
        </div>
        <div class="post-comments">
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
        </div>
    </div>
        <p><%= @post.text %></p>
    </article>

    <article class="comments-box">
    <% comments = Comment.where(post_id: @post.id) %>
    <% comments.each do |comment| %>
        <% user = User.find_by(id: comment.author_id).name %>
        <p><strong><%= user %>: <%= comment.text %></strong></p>
        <% end %>
    </article>
</body>