<h1>Here is a specific post</h1>
<body>
    <article>
    <div class="block-post">
        <div class="post-heading">
            <h3><%= @post.title %> by <%= @post.author.name %></h3>
            <div class="post-comments">
            <p>Comments: <%= @post.comments_counter %></p>
            <p>Likes: <%= @post.likes_counter %></p>
            </div>
        </div>
        <p><%= @post.text %></p>
    </div>

    </article>

    <article class="comments-box">
    <% comments = Comment.where(post_id: @post.id) %>
    <% comments.each do |comment| %>
        <% user = User.find_by(id: comment.author_id).name %>
        <p><strong><%= user %>: <%= comment.text %></strong></p>
        <% end %>
    </article>

    <div class="btn">
     <%= form_with url: "/posts/#{@post.id}/comments", scope: :comments do |f| %>
	<%= f.text_field :text, placeholder: "Type something here...", rows: 5, required: true %>
	<%= f.submit "Comment" %>
   <% end %>
            <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |f| %>
        <%= f.submit "Like this post" %>
      <% end %>
    </div>
</body>
